.component {
    text-align: center;
    text-decoration: none;
    background-color: #4361ee;
    padding: 2px 8px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.component:active {
    color: white;
}
