.component {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    max-width: 70vw;
    margin: 0 auto;
}

@media only screen and (max-width: 935px) {
    .component {
        flex-direction: column;
    }
}
