.title {
    font-size: 3.2rem;
    font-weight: 300;
    margin-bottom: 24px;
}

.libName {
    margin-top: 20px;
    font-size: 2rem;
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: 300;
    background-color: var(--primary-color);
    display: none;
}

.npm {
    display: flex;
    height: 40px;
    width: 314px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: 500;
    border-radius: 5px;
    user-select: none;
    color: var(--color-accent-dark);
    cursor: pointer;
    background-color: var(--color-accent-light);
}

.npmSlide {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    color: white;
    background-color: var(--primary-color);
    position: absolute;
    height: 40px;
    width: 314px;
    text-align: center;
    user-select: none;
    font-weight: 500;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.npmActive {
    clip-path: circle(150% at 0% 50%);
}

.npmPassive {
    clip-path: circle(0 at 0% 50%);
}

.npmSlide:hover {
    clip-path: circle(150% at 0% 50%);
}

.breaker {
    display: inline-block;
    margin-right: 10px;
}

@media only screen and (max-width: 935px) {
    .component {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .libName {
        display: block;
    }

    .breaker {
        margin: 0 0 20px;
        display: block;
    }

    .npm {
        font-size: 1.2rem;
        padding: 18px 0;
        width: 80vw;
        margin: 32px 0 48px;
    }

    .title {
        font-size: 2.8rem;
        width: 60vw;
        text-align: center;
        margin: 16px 0 48px;
    }
}
