.container {
    display: flex;
    align-items: center;
}

.image {
    width: 36px;
    margin-right: 12px;
}

.menu {
    margin-right: 12px;
    display: none;
}

.link {
    text-decoration: none;
    color: var(--primary-dark);
    font-size: 1.4rem;
    font-weight: 400;
}

@media only screen and (max-width: 720px) {
    .menu {
        display: block;
    }

    .link {
        display: none;
    }
}
